{erl_opts, [debug_info]}.
{project_plugins, [erlfmt]}.
{deps, []}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ebank]}
]}.

{dialyzer, [
    {warnings, [no_missing_calls]}
]}.

{relx, [
    {release, {ebank, "0.1.0"}, [
        kernel,
        stdlib,
        sasl,
        ebank
    ]},

    {mode, dev}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
